In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# pd.set_option('mode.chained_assignment', None)
cnx = sqlite3.connect('DSCI6002_prj1_data.db') #Conn

sql_data = cnx.execute("SELECT * FROM prj1")

df1 =  pd.DataFrame(sql_data.fetchall(),columns=['index','EdLevel','score'])

In [2]:
df1.head()

   index       EdLevel  score
0      0  Less than HS   26.0
1      1  Less than HS   43.8
2      2  Less than HS   34.4
3      3  Less than HS   76.2
4      4  Less than HS    0.2

In [3]:
df1.isnull().value_counts()

index  EdLevel  score
False  False    False    1160
                True       11
dtype: int64

In [33]:
df1[(df1['EdLevel'] == 'Less than HS') & (df1['score'].isna())]=df1[(df1['EdLevel'] == 'Less than HS') & (df1['score'].isna())].fillna(30,axis=0,inplace=True)

In [2]:
df1[df1['EdLevel'] == 'Less than HS'].fillna({'Score':20}, inplace=True)

In [3]:
df1.isna().sum()

index       0
EdLevel     0
score      11
dtype: int64

In [4]:
unique = list(df1.EdLevel.unique())
for i in unique:
    mean = df1[df1['EdLevel'] == i].score.mean()
    df1[(df1['EdLevel'] == i) & (df1['score'].isna())] = df1[(df1['EdLevel'] == i) & (df1['score'].isna())].score.fillna(mean,inplace=True)

In [9]:
def fillna():
    unique = list(df1.EdLevel.unique())
    for i in unique:
        mean = df1[df1['EdLevel'] == i].score.mean()
#         df1[df1['EdLevel'] == i].score.fillna(mean,inplace=True)
        df1[(df1['EdLevel'] == i) & (df1['score'].isna())] = df1[(df1['EdLevel'] == i) & (df1['score'].isna())].score.fillna(mean,inplace=True)  
#         df1[]
#         print(i)
#         print(df1[df1['EdLevel'] == i].isna().sum())

In [8]:
df1.isna().value_counts()

index  EdLevel  score
False  False    False    1160
True   True     True       11
dtype: int64

In [22]:
df['score'].fillna(score_mean,inplace=True)

In [23]:
df.head()

   index       EdLevel  score
0      0  Less than HS   26.0
1      1  Less than HS   43.8
2      2  Less than HS   34.4
3      3  Less than HS   76.2
4      4  Less than HS    0.2

In [50]:
df1[['EdLevel','score']].isna().value_counts()

EdLevel  score
False    False    1171
dtype: int64