<a href="https://colab.research.google.com/github/prudhvirajboddu/project/blob/master/Project_1_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -b https://dsprojprudhvi.s3.amazonaws.com/DSCI6002_prj1_data.db
import sqlite3
import pandas as pd

Continuing in background, pid 162.
Output will be written to ‘wget-log’.

In [ ]:
conn =  sqlite3.connect('/content/DSCI6002_prj1_data.db')
sql_data = conn.execute('select * from prj1')

df = pd.DataFrame(sql_data.fetchall(),columns=['index','EdLevel','Age'])

In [ ]:
df.head()

   index       EdLevel   Age
0      0  Less than HS  26.0
1      1  Less than HS  43.8
2      2  Less than HS  34.4
3      3  Less than HS  76.2
4      4  Less than HS   0.2

In [ ]:
df.isnull().value_counts()

index  EdLevel  Age
False  False    False    1160
                True       11
dtype: int64

In [ ]:
unique = list(df.EdLevel.unique())
for i in unique:
    mean = df[df['EdLevel'] == i].Age.mean()
    df[(df['EdLevel'] == i) & (df['Age'].isna())] = df[(df['EdLevel'] == i) & (df['Age'].isna())].Age.fillna(mean,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)